<!DOCTYPE html>
<html lang="en">
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
<body>
<table>
{% for i in entries %}
    <tr><td>{{i['content']}}</td><td>{{i['date']}}</td></tr>
{% endfor %}
</table>
</body>
</html>