    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>
<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Hospital Number</th>
            <th>Date</th>
            <th>Age</th>
            <th>Weight</th>
        </tr>
    </thead>
    <tbody>
{% for i in entries %}
    <tr><td>{{i['content']}}</td><td>{{i['date']}}</td><td>{{i['age']}}</td><td>{{i['weight']}}</td></tr>
{% endfor %}
</tbody>
<tfoot>
    <tr>
        <th>Hospital Number</th>
        <th>Date</th>
        <th>Age</th>
        <th>Weight</th>
    </tr>
</tfoot>
</table>

</body>
</html>
