<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>IV Audit Data Collection</title>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>IV Data Collection Portal</h1>
       </div>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Insert Data</a></li>
        <li role="presentation"><a href="#">Overall</a></li>
        <li role="presentation"><a href="#">Contact</a></li>
    </ul>
      
    
<form class='form' method="POST">
    <textarea name="content" id="entry" class='form__textarea'></textarea>
    <button type=submit class="form__submit">Add Entry</button>
</form>
<div>
</div>
</body>
</html>
